a.menu img {width:15px; height:15px;vertical-align:text-bottom}
a.menu {color:#4b4f56;font-size:15px;border:1px solid #ccc;border-radius: 5px;padding:1px;}
a.menu:hover {background:#aaaaaa;}
a {text-decoration:none;}
br {padding:5px;}
.placeholder{padding-top:3px;padding-bottom:3px;}