img[src*="oe_"], img[src*="vb_"]{
	height: 20px;
}
.green {
	color:green;
}
.yellow {
	color:yellow;
}
.red {
	color:red;
}
.blue {
	color:blue;
}
table {
  border-collapse: collapse;
}

td, th {
  border: 2px solid #000000;
  text-align: left;
  padding: 2px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}